<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false"/>
		<param name="File" value="C://logs//semseg//semseg.log"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="serviceAppender" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false"/>
		<param name="File" value="C://logs//semseg//services.log"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<logger name="rs.co.neotech.server">
		<level value="debug" />
	</logger>
	
	<!-- Application Loggers -->
	<logger name="rs.co.neotech.server.services">
		<level value="debug" />
		<appender-ref ref="serviceAppender" />
	</logger>
	<logger name="rs.co.neotech.controller">
		<level value="info" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="fileAppender" />
	</root>
	
</log4j:configuration>
